.contact{
    color:#ccd6f6;
    margin-top:5rem;
    pointer-events: auto;
    
    a {
      pointer-events: auto;
      cursor: pointer;
    }
    h4{
      color:#8892b0;
      font-size:1.2rem;
      font-weight:400;
      margin:0;
      @media(max-width:600px){
        font-size:1rem;
      }
    }
    h2{
      font-family:"Poppins";
      font-size:4rem;
      margin:0;
      display:flex;
      pointer-events: auto;
      @media(max-width:600px){
        font-size:2rem;
       }
      
      svg{
        margin-top:.51rem;
        cursor:pointer;
        pointer-events: auto;
        @media(max-width:600px){
          width:40px !important;
          margin-top:-.91rem;
         }
      }
    }
    p{
      margin:0;
      text-decoration: underline;
      font-weight:300;
      margin-top:1rem;
      cursor:pointer;
      pointer-events: auto;
      @media(max-width:600px){
        font-size:.95rem;
      }
    }
  }
  
  